 [ {erdi, [
%   {gateway_tls, [{verify, verify_peer}, {cacerts, public_key:cacerts_get()}]},
    {gateway_domain, "discord.com"},
    {port, 443},
    {gateway_path, "/api/gateway"},
%    {websocket_tls, [{verify, verify_none}, {cacerts, public_key:cacerts_get()}]},
    {websocket_protocols, [http]},
    {websocket_path, "/?v=10"}
  ]}].
 
